<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1064304921022-q9m25be95rqd176n8mn26c8v7f343qa8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1064304921022-q9m25be95rqd176n8mn26c8v7f343qa8</string>
	<key>API_KEY</key>
	<string>AIzaSyAv3xP_PAIIqC8jmQm-yhrQdfIES-0Jk7o</string>
	<key>GCM_SENDER_ID</key>
	<string>1064304921022</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.learningapp</string>
	<key>PROJECT_ID</key>
	<string>learningapp-b58d8</string>
	<key>STORAGE_BUCKET</key>
	<string>learningapp-b58d8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1064304921022:ios:5f87e20741bbc2db7a11ef</string>
	<key>DATABASE_URL</key>
	<string>https://learningapp-b58d8.firebaseio.com</string>
</dict>
</plist>